.color-1 { background-color: rgb(255, 38, 105); }
.color-2 { background-color: rgb(255, 92, 143); }
.color-3 { background-color: rgb(255, 147, 180); }
.color-4 { background-color: rgb(255, 201, 218); }
.color-5 { background-color: rgb(255, 255, 255); }
